<% if user_signed_in? %>

<div class="row center-xs">

  <div class="col-xs-3 col-md-3">
    </div>
    <div class="col-xs-6 col-md-4">

      <div class="box">

          </br>
      <h2>Creación Nuevo Usuario</h2>

      <ul class="nav nav-tabs">
              </ul>
              </br></br>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class:"form-control" %>
        </div>

         <div class="field">
          <%= f.label :nombres %><br />
          <%= f.email_field :nombres, autofocus: true, class:"form-control" %>
        </div>

         <div class="field">
          <%= f.label :apellidos %><br />
          <%= f.email_field :apellidos, autofocus: true, class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
        </div>

        <div class="actions">
          <!-- <%= f.submit "Sign up" %> -->
          <%= f.submit 'Crear', :class => 'btn btn-default' %>
          <%= button_to 'Cancelar', users_path, :class => 'btn btn-default'  %>
      <% end %>

      

      <% end %>


    </div>
</div>
</div>