<% if user_signed_in? %>

        <div class="col-xs-relleno">
        <!-- Espacio relleno debajo menu principal -->
        </div>
        <div class="col-xs-standar">

              <div class="col-xs-blanco">
              </div>

              <div class="col-xs-conf">
                <div class="imagen_boton2">
                <%= image_tag "c.png", :alt => "Configuracion", :title => "Configuracion"%>  
                </div>      
              </div>
              <div class="col-xs-titulo">
              <h4><strong> Configuraci&oacute;n:</strong></h4>
              </div>
              
              <!-- Espacio entre el titulo y primer boton -->
              <div class="col-xs-espacio">
              </div>
                           
                <div class="col-xs-standar">
                  
                    <%= button_to 'Cambiar contraseña', users_cambio_p_path(resource_name), method: :post, :class => 'btn btn-default' %>
                </div>  
                  
                
                <div class="col-xs-standar">
                  <%= button_to 'Usuarios', configuracion_usuarios_path(:id), method: :edit, :class => 'btn btn-default'  %>
                </div>
                <div class="col-xs-standar">
                  <%= button_to 'Sedes', sedes_index_path, :class => 'btn btn-default'  %>
                </div>
                <div class="col-xs-standar">
                  <button type="button" class="btn btn-default">Bloques</button> 
                </div>
                <div class="col-xs-standar">
                  <button type="button" class="btn btn-default">Per&iacuteodos</button> 
                </div>
                <div class="col-xs-standar">
                  <button type="button" class="btn btn-default">Grupo Usuarios</button> 
                </div>
                 <button type="button" class="btn btn-default">Unidades de Medida</button> 
                </div>
        </div>

             
              <ul class="nav nav-tabs">
              </ul>

        

    
    </header>


  <p class='notice'><%= notice %></p>
  <p class='alert'><%= alert %></p>

  <%= yield %>


    <% end %> 
