

<%= render :partial => "configuracion/menuconfiguracion" %>

<div class="col-xs-contenido">

<div class="col-xs-standar">
<div class="titulo-menu"><strong> >>> USUARIOS <<< </strong></div>
<div class="col-xs-standar">
      

        <div class="col-xs-menu">
          <%= button_to 'Crear', new_user_registration_path(resource_name), :class => 'btn btn-default'  %> 
        </div>

        <div class="col-xs-menu1">
        </div>

        <div class="col-xs-menu">
          <strong>Filtro:</strong>
        </div>

        <div class="col-xs-menu0">
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1" checked="checked"> Activos
            </label>
          </br>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Inactivos
          </label>
        </div>

      
        <div class="col-xs-menu2">
            <select class="form-control" >
              <option value="value1" selected>Todas las Sedes</option> 
              <option value="value2">Institucional</option>
              <option value="value3">Medellin</option>
            </select>
        </div>
      


        <div class="col-xs-menu2">
        <input type="search" class="form-control" placeholder="Buscar">
        </div>

        <div class="col-xs-menu1">
        </div>

        <div class="col-xs-menu">
        <button type="button" class="btn btn-default">Descargar</button>
        </div>
</div>
</div> <!--CIERRE SUBMENU-->

<div class="col-xs-standar2">
<table class="table table-hover">
  <tr>

  		<td> <strong> Usuario </strong></td>
  		<td> <strong>Nombre </strong></td>
  		<td> <strong>Sede </strong></td>
      <td> <strong>Grupo </strong></td>
  		<td> <strong> Rol </strong></td>
      <td> <strong> A/I </strong></td>
  		<td> </td>
      <td> </td>
      <td> </td>
  </tr>
  <% User.all.each do |usuario| %>
  <tr>
  		<td><%= usuario.email %></td>
  		<td>Nestor Ramirez Amaya </td>
  		<td> Institucional </td>
      <td> Coord. Infraestructura Sedes </td>
  		<td> Administrador </td>
      <td> Activo </td>
      <td><%= button_to 'Editar', edit_user_registration_path(usuario), method: :edit, :class => 'btn btn-primary btn-xs'  %> </td>
      <td><%= button_to 'Ver', edit_user_registration_path(usuario), method: :edit, :class => 'btn btn-primary btn-xs'  %> </td>
      <td><%= button_to 'Enviar email', edit_user_registration_path(usuario), method: :edit, :class => 'btn btn-primary btn-xs'  %> </td>
  </tr>

<% end %>

</table>
</div>

</div><!--CONTENIDO-->