<% if user_signed_in? %>

<div class="navbar navbar-ecos navbar-fixed-top" role="navigation">


			<div class="container-fluid">
				<div class="barra-menu">
 					
    					<div class="col-md-e">
       					<div class="imagen_boton"><%= image_tag "ucc.png", :alt => "Ecos", :title => "Ecos"%></div><!--imagen_boton-->
    					</div><!--col-md-e-->
              <div class="col-md-i">
                <a href="#"><div class="imagen_boton"><%= image_tag "i.png", :alt => "e", :title => "e"%></div></a><!--imagen_boton-->
                  <kbd>40</kbd>
              </div><!--col-md-i-->
    					<div class="col-md-h">
    						<a href="#"><div class="imagen_boton"><%= image_tag "h.png", :alt => "e", :title => "e"%></div></a><!--imagen_boton-->
							     <kbd>6</kbd>
    					  </div><!--col-md-h-->
    					<div class="col-md-b">
                <a href="#"><div class="imagen_boton"><%= image_tag "b.png", :alt => "e", :title => "e"%></div></a><!--imagen_boton-->
    					</div><!--col-md-b-->
    					<div class="col-md-a">
    						<a href="#"><div class="imagen_boton"><%= image_tag "a.png", :alt => "e", :title => "e"%></div></a><!--imagen_boton-->
    					</div><!--col-md-a-->
    					<div class="col-md-r">
    						<a href="#"><div class="imagen_boton"><%= image_tag "r.png", :alt => "e", :title => "e"%></div></a><!--imagen_boton-->
    					</div><!--col-md-r-->
    					<div class="col-md-o">
    						<a href="#"><div class="imagen_boton"><%= image_tag "o.png", :alt => "e", :title => "e"%></div></a><!--imagen_boton-->
    					</div><!--col-md-o-->
               
              <!--Inicia Boton salir-->

               <div class="col-md-s">
                <div class="imagen_boton">

                  <%= link_to image_tag( "s.png", :alt => "e", :title => "e" ) %>
                  <%= link_to "salir", destroy_user_session_path, method: :delete %>
                  </div><!--imagen_boton-->
              </div><!--col-md-s-->
              
              <!-- Termina Boton salir-->
              
              <div class="col-md-c">
                <a href="#" ><div class="imagen_boton"><%= image_tag "c.png", :alt => "e", :title => "e"%></div></a><!--imagen_boton-->
              </div><!--col-md-c-->


              <div class="col-md-u">
                <%= current_user.email %></br>
                Rol: Invitado</br>
                Sede: Medellín</br>
              </div><!--col-md-c-->

                 <!-- <% if user_signed_in? %>
                 <strong><%= current_user.email %></strong>.
                 <%= link_to "logout", destroy_user_session_path, method: :delete, :class=> 'navbar-link' %>
                  <% end %>-->
    

				</div><!--barra-menu-->
			</div>
	</div><!--navbar navbar-default navbar-fixed-top-->
<% end %>